<div>
	 <section class="home_intro">
		
	</section>

   
  <div class="container mt-5">
   <div class="row">
     <div class="col-lg-4 col-md-3">
       <div class="card text-dark bg-info mb-3" style="width: 18rem;height: 8rem">
        <div class="card-body">
          <p class="card-text">Everyone has a story , it's just needs a right person to convey and a right person to listen..</p>
        </div>
       </div>  
      </div>

      <div class="col-lg-4 col-md-3">
       <div class="card text-dark bg-info mb-3" style="width: 18rem;height: 8rem">
        <div class="card-body">
          <p class="card-text">When heart finds right words and mind stays quite,That's when our story becomes alright..</p>
        </div>
       </div>  
      </div>

      <div class="col-lg-4 col-md-3">
       <div class="card text-dark bg-info mb-3" style="width: 18rem;height: 8rem">
        <div class="card-body">
          <p class="card-text">Tell us your story and share with us what you hide beneath..
          <br><br>
         <%= link_to 'Sign Up!! ' , signup_path, class:"text-dark text-decoration-none sign_up" %>to know more...</p>
        </div>
       </div>  
      </div>
    </div>
  </div>

</div>
